resource "aws_security_group" "{name}_alb" {{
  name        = "{project_name}-alb-sg"
  description = "Allow inbound HTTP/HTTPS traffic to the load balancer"
  vpc_id      = aws_vpc.{vpc_name}.id

  ingress {{
    description = "HTTP from internet"
    from_port   = 80
    to_port     = 80
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }}

  ingress {{
    description = "HTTPS from internet"
    from_port   = 443
    to_port     = 443
    protocol    = "tcp"
    cidr_blocks = ["0.0.0.0/0"]
  }}

  egress {{
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }}

  tags = {{ Name = "{project_name}-alb-sg" }}
}}

resource "aws_security_group" "{name}_app" {{
  name        = "{project_name}-app-sg"
  description = "Allow traffic from the load balancer to application instances"
  vpc_id      = aws_vpc.{vpc_name}.id

  ingress {{
    description     = "App traffic from ALB"
    from_port        = {app_port}
    to_port          = {app_port}
    protocol         = "tcp"
    security_groups  = [aws_security_group.{name}_alb.id]
  }}

  egress {{
    from_port   = 0
    to_port     = 0
    protocol    = "-1"
    cidr_blocks = ["0.0.0.0/0"]
  }}

  tags = {{ Name = "{project_name}-app-sg" }}
}}
